@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus, textarea:focus, button:focus {
    outline: none;
}

.title-4xl {
  @apply text-4xl font-bold text-white dark:text-dark_18e9d9;
}

/* hide increment decrement in input type number */
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  /* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* custom scrollbar */
  /* total width */
::-webkit-scrollbar {
  background-color:#fff;
  width:6px
}

  /* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent
}
::-webkit-scrollbar-track:hover {
  background-color: transparent
}

  /* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:1px solid #fff
}
::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:2px solid #f4f4f4
}

  /* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}




/* theme toggle style */
.theme-toggle label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-toggle span:last-child {
    position: relative;
    width: 48px;
    height: 24px;
    border-radius: 15px;
    background: #E8EBF1;
    transition: all 0.3s;
}

.theme-toggle span:last-child::before,
.theme-toggle span:last-child::after {
    content: "";
    position: absolute;
}
.theme-toggle span:last-child::before {
    left: 1px;
    top: 0px;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
}

.theme-toggle span:last-child::after {
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-theme-toggleer.svg); */
    background-size: 12px 12px;
}

.theme-toggle [type="checkbox"]:checked + label span:last-child {
    background: #E8EBF1;
}

.theme-toggle [type="checkbox"]:checked + label span:last-child::before {
    transform: translateX(23px);
}

.theme-toggle [type="checkbox"]:checked + label span:last-child::after {
    width: 14px;
    height: 14px;
    /*right: auto;*/
    left: 8px;
    /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-theme-toggleer.svg); */
    background-size: 14px 14px;
}


/* pure loader css */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

